extends layout

block content

    div(class='content')
        div(class='margin-left')
        div(class='center')
            div(class='top')
                h1=title
                if userIsAdmin
                    a(href='/logs') Logs
                a(id='logoutLink') Logout
            div#postList
                each post in posts
                    div(class='post', id=post.id)
                        div(id=post.username)
                            br
                            div(class='postHeader')
                                span#username= post.posted_by
                                span#date= post.time_posted
                            br
                            div(class='postBody')
                                div(class='postText')
                                    label#text= post.post_text
                                if userIsAdmin
                                    div(class='deleteButton')
                                        button(id='deleteButton' + post.id) Delete
                    br
            div#postFormDiv
            form(id='postForm')
                    textarea(id='postText', class='postTA' placeholder='Write your post here...')
                    br
                    button(id='postButton', type='submit') Post
        div(class='margin-right')
    script.
        //- delete posts 
        if (#{userIsAdmin}) {
            var posts = !{JSON.stringify(posts)};
            posts.forEach(function(post) {
                document.getElementById('deleteButton' + post.id).addEventListener("click", function() {
                    const url = '/api/posts/' + post.id;
                    fetch(url, {
                        method: 'DELETE',
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('HTTP error ' + response.status);
                        }
                    }).then(() => {
                        //- clear the textarea and reload the page
                        location.reload();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                });
            });
        }
            
        //- post a new post
        document.getElementById("postForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var postText = document.getElementById("postText").value;
            var postedBy = "#{username}";
            fetch('/api/posts/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    post_text: postText,
                    time_posted: new Date().toISOString(),
                    posted_by: postedBy
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
            })
            .then(() => {
                //- clear the textarea and reload the page
                document.getElementById('postText').value = "";
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        //- scroll to bottom of post list
        window.onload = function() {
            var div = document.getElementById('postList');
            div.scrollTop = div.scrollHeight;
        };
    //- logout
    script(src="/javascripts/logout.js")